.container{
    width: 100%;
    margin: auto;
    background-color:rgb(255,255,255, 0.3)
}
body{
    margin: 0;
    background-image: url("ccy2.svg");
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    image-rendering: auto;
    margin: auto;
}
.logo{
    font-family: Cambria;
    font-weight: bolder;
    font-size: larger;
    color: white;
    background-color: black;
    padding: 2rem;

}
nav{
    width: auto;

}
ul{
    display: flex;
    list-style-type: none;
    width: calc(100% / 3);

}
li{

}
li a{
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 1rem;
}
li a:hover {
    background-color: white;
}
main{
    display: flex;

}
.contact{
    margin: 10%;
    font-family: "Cambria Math"
}
.map{
    float: right;
    width: auto;
    margin: auto;
}
.map img{
    height: 400px;
    margin: auto;
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;

    }

}