.container{
    width: 100%;
    margin: auto;
    background-color:rgb(255,255,255, 0.3)
}
body{
    margin: 0;
    background-image: url("ccy.svg");
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    image-rendering: auto;
    margin: auto;
}
.logo{
    font-family: Cambria;
    font-weight: bolder;
    font-size: larger;
    color: white;
    background-color: red;
    padding: 2rem;

}
nav{
    width: auto;
}
ul{
    display: flex;
    list-style-type: none;
    width: calc(100% / 3);

}
li{

}
li a{
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 1rem;
}
li a:hover {
    background-color: white;
}
.articlee {
    text-align: center;
    font-family: "Cambria Math";

}
h1{
    margin: 10%;
}
figure{
    margin-top: 15rem;
   margin: auto;
}
img{
    height: 342px;
    width: 80%;
    margin: auto;

}
p{
    margin: 5%;
    align-content: center;
}
.column{
    display: inline-flex;

}
article{
    width: calc(100%/4);
    align-content: center;
    margin: auto;
    justify-content: space-evenly;

    flex-wrap: wrap;
    text-align: center;
    background-color: white;
    box-sizing: border-box;

}
.column img{
    width: 100%;
}

h3{
    text-align: left;
    padding: 1rem;
}
@media screen and (min-width: 769px) {
    .container {
        width: 80%;

    }

}